/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 50em;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}
/* Optional: Makes the sample page fill the window. */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.main{
	padding-left:300px;
}

.cust-color-rust{
	background-color: #B56357;
}

.cust-color-slate{
	background-color: #EAE3EA;
}

.cust-color-mint{
	background-color: #B4DBC0;
}

.cust-color-seafoam{
	background-color: #A7B3A5;
}

.cust-color-white{
	background-color: #fff;
}

.cust-nav{
	display: none;
}

#loginHome{
	background-color: blue;
}
/* Override Materialize */

/* Filter Bar padding override */
.filterRow{
	margin: 0;
	padding: .25em;
}

.container{
	width: 100%;
}


@media only screen and (max-width: 992px) {
	.main{
		padding-left: 0px;
	}

	.cust-nav{
		display: block;
	}
}

.row {
	margin-bottom: 0px;
}

.contact-panel{
	margin:0;
	min-width: 20em;
}