/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 50em;
}
/* Optional: Makes the sample page fill the window. */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.cust-color-rust{
	background-color: #B56357;
}

.cust-color-slate{
	background-color: #EAE3EA;
}

.cust-color-mint{
	background-color: #B4DBC0;
}

.cust-color-seafoam{
	background-color: #A7B3A5;
}

.cust-color-white{
	background-color: #fff;
}

/* Override Materialize */

.container{
	width: 100%;
}

